@use 'colors' as *;

// Smooth scrolling
html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container,
.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    // height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $offwhite;
}
.lock {
    overflow: hidden;
}
