$orange: #fe5420;
$orange-shadow: rgba(254, 86, 3, 0.7);
$orange-trans: rgba(254, 86, 3, 0.5);
$offblack: #242424;
$graphit: #2f2f2f;
$graphit-trans: rgba(47,47,47,0.9);
$offwhite: #f0f0f0;
$offwhite-b: rgba(255, 255, 255, 0.7);
$form-grey: #e5e5e5;
$lightgrey: #9e9e9e;
$font-grey: #5A5A5A;
$border-grey:  rgba(49, 49, 49, 0.1);